<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FindaSVSDbContext" connectionString="data source=localhost\sql2012;initial catalog=FindaSVS;integrated security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>